{{#each restaurants as |restaurant|}}
  <ul data-id="{{restaurant.id}}">
  <li>Name: {{restaurant.name}}</li>
  <li>
    {{#if restaurant.rating}}
      Rating: {{restaurant.rating}}
    {{else}}
      Rating: N/A
    {{/if}}
  </li>
  <li>
    {{#if restaurant.neighborhood}}
      Neighborhood: {{restaurant.neighborhood}}
    {{else}}
      Neighborhood: N/A
    {{/if}}
  </li>
  <li><p class="confirm-delete"><button class="confirmation btn btn-default">Delete</button></p></li>
  </ul>
{{/each}}
